<div>
  <h5 style="background-color: rgb(36, 36, 36); margin-bottom: 0px; margin-top: 50px; color: white; text-align: center;">LISTA DE PROYECTOS DESTACADOS RECIENTES</h5>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripcion</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of ProductList">
      <tr>
        <th scope="row">{{item.Orden}}</th>
        <td>{{item.Fecha}}</td>
        <td>{{item.Titulo}}</td>
        <td>{{item.Descripcion}}</td>
      </tr>
  </table>